@import './variables.module'; 

.loader {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease; 

    &__spinner{
        display: inline-block;
        width: 80px;
        height: 80px;
 
        &:before {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid #fdd; 
            border-color: $loader-color transparent $loader-color transparent;
            animation: spinner 1.2s linear infinite;
          }
    }

    &__text{
        position: absolute;
        left: 0;
        color: #9d9999; 
        right: 0;
    }
} 



@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }