/* colors */
$primary-color: #026451; 
$primary-variant: rgba(2, 100, 81, 0.7);
$secondary-color: #ffffff;
$overlay: linear-gradient(310deg, #141727 0%, #3A416F 100%);
$shadow: rgb(0 0 0 / 10%) 0px 3px 12px 0px;
$border-color: #eaeaea;
$loader-color: #dddddd;


/* units */
$border-radius: 10px;


/* break points */
$breakpoint-tablet: 768px; 